PORT=8080
SOLANA_RPC_HTTP_URL=https://api.devnet.solana.com
SOLANA_RPC_WS_URL=wss://api.devnet.solana.com
PROGRAM_ID=Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS
CORS_ORIGIN=http://localhost:5173
TURN_TIMEOUT_SECONDS=90
